agente-social-media/n8n/ig_metricas_semanais.json
{
  "name": "ig_metricas_semanais",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": [1],
              "triggerAtHour": 7,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "b2000000-0000-4000-8000-000000000001",
      "name": "Disparar Segunda 07h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT token FROM meta_token ORDER BY created_at DESC LIMIT 1;",
        "options": {}
      },
      "id": "b2000000-0000-4000-8000-000000000002",
      "name": "Buscar Token Meta",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [220, 0],
      "credentials": {
        "postgres": {
          "id": "SUBSTITUIR_APOS_IMPORTAR",
          "name": "Postgres Railway"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v23.0/{{ $env.IG_USER_ID }}/insights",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "metric",
              "value": "reach,views,accounts_engaged,total_interactions,profile_links_taps"
            },
            {
              "name": "period",
              "value": "day"
            },
            {
              "name": "metric_type",
              "value": "total_value"
            },
            {
              "name": "since",
              "value": "={{ $now.minus({ days: 7 }).toUnixInteger() }}"
            },
            {
              "name": "until",
              "value": "={{ $now.toUnixInteger() }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Buscar Token Meta').first().json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b2000000-0000-4000-8000-000000000003",
      "name": "Buscar Insights da Conta 7d",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, -200],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Transforma a resposta agregada de 7 dias em linhas (metric_date, metric, value).\n// Métricas semanais levam sufixo _7d pra não misturar com séries diárias.\nconst hoje = new Date().toISOString().slice(0, 10);\nconst dados = $input.first().json.data || [];\nreturn dados.map((m) => ({\n  json: {\n    metric_date: hoje,\n    metric: `${m.name}_7d`,\n    value: m.total_value?.value ?? m.values?.[0]?.value ?? null,\n  },\n}));"
      },
      "id": "b2000000-0000-4000-8000-000000000004",
      "name": "Achatar Insights 7d",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, -200]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "ig_account_insights_daily",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "metric_date": "={{ $json.metric_date }}",
            "metric": "={{ $json.metric }}",
            "value": "={{ $json.value }}"
          }
        },
        "options": {
          "skipOnConflict": true
        }
      },
      "id": "b2000000-0000-4000-8000-000000000005",
      "name": "Gravar Insights da Conta",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [880, -200],
      "credentials": {
        "postgres": {
          "id": "SUBSTITUIR_APOS_IMPORTAR",
          "name": "Postgres Railway"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v23.0/{{ $env.IG_USER_ID }}/insights",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "metric",
              "value": "follower_count"
            },
            {
              "name": "period",
              "value": "day"
            },
            {
              "name": "since",
              "value": "={{ $now.minus({ days: 7 }).toUnixInteger() }}"
            },
            {
              "name": "until",
              "value": "={{ $now.toUnixInteger() }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Buscar Token Meta').first().json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b2000000-0000-4000-8000-000000000006",
      "name": "Buscar Série de Seguidores",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Série diária de novos seguidores: 1 linha por dia.\n// end_time da Meta marca o FIM do período (madrugada do dia seguinte) —\n// subtrai 1 dia pra gravar a data do dia a que o valor se refere.\nconst serie = ($input.first().json.data || [])[0]?.values || [];\nreturn serie.map((v) => ({\n  json: {\n    metric_date: new Date(Date.parse(v.end_time) - 86400000).toISOString().slice(0, 10),\n    metric: 'follower_count',\n    value: v.value ?? null,\n  },\n}));"
      },
      "id": "b2000000-0000-4000-8000-000000000007",
      "name": "Achatar Seguidores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "ig_account_insights_daily",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "metric_date": "={{ $json.metric_date }}",
            "metric": "={{ $json.metric }}",
            "value": "={{ $json.value }}"
          }
        },
        "options": {
          "skipOnConflict": true
        }
      },
      "id": "b2000000-0000-4000-8000-000000000008",
      "name": "Gravar Série de Seguidores",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [880, 0],
      "credentials": {
        "postgres": {
          "id": "SUBSTITUIR_APOS_IMPORTAR",
          "name": "Postgres Railway"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v23.0/{{ $env.IG_USER_ID }}/media",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "id,caption,media_type,media_product_type,timestamp,permalink"
            },
            {
              "name": "limit",
              "value": "30"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Buscar Token Meta').first().json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b2000000-0000-4000-8000-000000000009",
      "name": "Buscar Mídias Recentes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 220],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "b2000000-0000-4000-8000-000000000010",
      "name": "Separar Mídias",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [660, 220]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "b2000000-0000-4000-8000-000000000011",
      "name": "Iterar Mídias",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [880, 220]
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "id": "b2000000-0000-4000-8000-000000000012",
      "name": "Aguardar 1s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1100, 320]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Define a lista de métricas conforme o tipo de mídia (reels tem métricas próprias).\nconst base = 'views,reach,likes,comments,saved,shares,total_interactions';\nconst metricas = $json.media_product_type === 'REELS'\n  ? `${base},ig_reels_avg_watch_time`\n  : base;\nreturn { json: { ...$json, metricas } };"
      },
      "id": "b2000000-0000-4000-8000-000000000013",
      "name": "Montar Lista de Métricas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 320]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v23.0/{{ $json.id }}/insights",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "metric",
              "value": "={{ $json.metricas }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Buscar Token Meta').first().json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b2000000-0000-4000-8000-000000000014",
      "name": "Buscar Insights da Mídia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 320],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Junta os dados da mídia com os insights numa linha pronta pro Postgres.\n// Se a chamada de insights falhou (post antigo demais etc.), grava a mídia com métricas nulas.\nconst midia = $('Montar Lista de Métricas').item.json;\nconst valores = {};\nfor (const m of ($json.data || [])) {\n  valores[m.name] = m.values?.[0]?.value ?? m.total_value?.value ?? null;\n}\nreturn { json: {\n  ig_media_id: midia.id,\n  media_type: midia.media_type ?? null,\n  media_product_type: midia.media_product_type ?? null,\n  caption: (midia.caption || '').slice(0, 2000),\n  permalink: midia.permalink ?? null,\n  posted_at: midia.timestamp ?? null,\n  views: valores.views ?? null,\n  reach: valores.reach ?? null,\n  likes: valores.likes ?? null,\n  comments: valores.comments ?? null,\n  saved: valores.saved ?? null,\n  shares: valores.shares ?? null,\n  total_interactions: valores.total_interactions ?? null,\n  reels_avg_watch_time_ms: valores.ig_reels_avg_watch_time ?? null,\n  raw: JSON.stringify($json.data ?? $json),\n} };"
      },
      "id": "b2000000-0000-4000-8000-000000000015",
      "name": "Montar Snapshot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 320]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "ig_media_snapshot",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ig_media_id": "={{ $json.ig_media_id }}",
            "media_type": "={{ $json.media_type }}",
            "media_product_type": "={{ $json.media_product_type }}",
            "caption": "={{ $json.caption }}",
            "permalink": "={{ $json.permalink }}",
            "posted_at": "={{ $json.posted_at }}",
            "views": "={{ $json.views }}",
            "reach": "={{ $json.reach }}",
            "likes": "={{ $json.likes }}",
            "comments": "={{ $json.comments }}",
            "saved": "={{ $json.saved }}",
            "shares": "={{ $json.shares }}",
            "total_interactions": "={{ $json.total_interactions }}",
            "reels_avg_watch_time_ms": "={{ $json.reels_avg_watch_time_ms }}",
            "raw": "={{ $json.raw }}"
          }
        },
        "options": {
          "skipOnConflict": true
        }
      },
      "id": "b2000000-0000-4000-8000-000000000016",
      "name": "Gravar Snapshot da Mídia",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1980, 320],
      "credentials": {
        "postgres": {
          "id": "SUBSTITUIR_APOS_IMPORTAR",
          "name": "Postgres Railway"
        }
      }
    },
    {
      "parameters": {},
      "id": "b2000000-0000-4000-8000-000000000017",
      "name": "Encerrar Coleta",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1100, 120]
    }
  ],
  "connections": {
    "Disparar Segunda 07h": {
      "main": [
        [
          {
            "node": "Buscar Token Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Token Meta": {
      "main": [
        [
          {
            "node": "Buscar Insights da Conta 7d",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar Série de Seguidores",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar Mídias Recentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Insights da Conta 7d": {
      "main": [
        [
          {
            "node": "Achatar Insights 7d",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Achatar Insights 7d": {
      "main": [
        [
          {
            "node": "Gravar Insights da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Série de Seguidores": {
      "main": [
        [
          {
            "node": "Achatar Seguidores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Achatar Seguidores": {
      "main": [
        [
          {
            "node": "Gravar Série de Seguidores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Mídias Recentes": {
      "main": [
        [
          {
            "node": "Separar Mídias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar Mídias": {
      "main": [
        [
          {
            "node": "Iterar Mídias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iterar Mídias": {
      "main": [
        [
          {
            "node": "Encerrar Coleta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aguardar 1s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar 1s": {
      "main": [
        [
          {
            "node": "Montar Lista de Métricas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Lista de Métricas": {
      "main": [
        [
          {
            "node": "Buscar Insights da Mídia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Insights da Mídia": {
      "main": [
        [
          {
            "node": "Montar Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Snapshot": {
      "main": [
        [
          {
            "node": "Gravar Snapshot da Mídia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravar Snapshot da Mídia": {
      "main": [
        [
          {
            "node": "Iterar Mídias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
